/*
 * Copyright 2013 Maxime Ripard
 *
 * Maxime Ripard <maxime.ripard@free-electrons.com>
 *
 * The code contained herein is licensed under the GNU General Public
 * License. You may obtain a copy of the GNU General Public License
 * Version 2 or later at the following locations:
 *
 * http://www.opensource.org/licenses/gpl-license.html
 * http://www.gnu.org/copyleft/gpl.html
 */

/dts-v1/;
/include/ "sun7i-a20.dtsi"

/ {
	model = "Cubietech Cubieboard2";
	compatible = "cubietech,cubieboard2", "allwinner,sun7i-a20";

	soc@01c00000 {
		sdc0: sdc@01c0f000 {
			pinctrl-names = "default";
			pinctrl-0 = <&sdc0_pins_a>;
			pinctrl-1 = <&mmc0_cd_pin_cubieboard2>;
			cd-gpios = <&pio 7 1 0>; /* PH1 */
			cd-mode = <1>;
			status = "okay";
		};

		sata: ahci@01c18000 {
			pwr-supply = <&reg_ahci_5v>;
			status = "okay";
		};

		pinctrl@01c20800 {
			ahci_pwr_pin: ahci_pwr_pin@0 {
				allwinner,pins = "PB8";
				allwinner,function = "gpio_out";
				allwinner,drive = <0>;
				allwinner,pull = <0>;
			};

			mmc0_cd_pin_cubieboard2: mmc0_cd_pin@0 {
				allwinner,pins = "PH1";
				allwinner,function = "gpio_in";
				allwinner,drive = <0>;
				allwinner,pull = <0>;
			};

			led_pins_cubieboard2: led_pins@0 {
				allwinner,pins = "PH20", "PH21";
				allwinner,function = "gpio_out";
				allwinner,drive = <0>;
				allwinner,pull = <0>;
			};

			usb1_vbus_pin: usb1_vbus_pin@0 {
					allwinner,pins = "PH6";
					allwinner,function = "gpio_out";
					allwinner,drive = <0>;
					allwinner,pull = <2>;
			};

			usb2_vbus_pin: usb2_vbus_pin@0 {
					allwinner,pins = "PH3";
					allwinner,function = "gpio_out";
					allwinner,drive = <0>;
					allwinner,pull = <2>;
			};
		};

		uart0: serial@01c28000 {
			pinctrl-names = "default";
			pinctrl-0 = <&uart0_pins_a>;
			status = "okay";
		};

		i2c0: i2c@01c2ac00 {
			pinctrl-names = "default";
			pinctrl-0 = <&i2c0_pins_a>;
			status = "okay";
		};

		i2c1: i2c@01c2b000 {
			pinctrl-names = "default";
			pinctrl-0 = <&i2c1_pins_a>;
		};

		ehci0: ehci0@0x01c14000 {
			vbus-supply = <&reg_usb1_vbus>;
			status = "okay";
		};

		ehci1: ehci1@0x01c1c000 {
			vbus-supply = <&reg_usb2_vbus>;
			status = "okay";
		};

		gmac: ethernet@01c50000 {
			pinctrl-names = "default";
			pinctrl-0 = <&gmac_pins_mii>;
			snps,phy-addr = <1>;
			phy-mode = "mii";
			status = "okay";
		};

		gmac: ethernet@01c50000 {
			pinctrl-names = "default";
			pinctrl-0 = <&gmac_pins_mii>;
			snps,phy-addr = <1>;
			phy-mode = "mii";
			status = "okay";
		};
	};

	leds {
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 = <&led_pins_cubieboard2>;

		blue {
			label = "cubieboard2:blue:usr";
			gpios = <&pio 7 21 0>;
		};

		green {
			label = "cubieboard2:green:usr";
			gpios = <&pio 7 20 0>;
		};
	};

	regulators {
		compatible = "simple-bus";
		pinctrl-names = "default";

		reg_ahci_5v: ahci-5v {
			compatible = "regulator-fixed";
			regulator-name = "ahci-5v";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			pinctrl-0 = <&ahci_pwr_pin>;
			gpio = <&pio 1 8 0>;
			enable-active-high;
		};

		reg_usb1_vbus: usb1-vbus {
			compatible = "regulator-fixed";
			pinctrl-names = "default";
			pinctrl-0 = <&usb1_vbus_pin>;
			regulator-name = "usb1-vbus";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			enable-active-high;
			gpio = <&pio 7 6 0>;
		};

		reg_usb2_vbus: usb2-vbus {
			compatible = "regulator-fixed";
			pinctrl-names = "default";
			pinctrl-0 = <&usb2_vbus_pin>;
			regulator-name = "usb2-vbus";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			enable-active-high;
			gpio = <&pio 7 3 0>;
		};
	};
};
